<!-- Sections -->
<style>
*{
    box-sizing: border-box;
}
body{
      margin: 60px auto;
      width: 65%;
     
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
div.header{
      width: 25%;
      padding: 5px;
      float: left;
      color: #cf0000;
      font-size: 1em;
      font-family: "Times New Roman", Times, Serif;       
}
div.menu{
    width: 70%;
    padding 5px;
    float: left;
}
div.slogan{
      padding: 5px;
      background-color: #444;
      text-align: center;
}
div.background{
      padding: 15px;
      list-style: none;
      text-align: center;
      font-weight: bold;
}
<!-- Table -->
table{
      border-collapse: collapse;
      width:100%;
}
th, td{
      text-align: left;
      padding: 15px;
}
tr:hover {background-color: #f5f5f5;}
table, tr{
      border: 1px solid black;
}
<!-- Links-->
nav ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
}
nav ul li{
      padding: 8px;
      margin-bottom: 8px;
      display: inline;
      margin-right: 20px;
      color = #444;
      font-weight: bold;
      font-family: "Times New Roman", Georgia, Serif;
}
a:link{
    text-decoration: none;
    color: #333;
}
a:hover{
    text-decoration:none;
    color: #cf0000;
}
a:visited{
      text-decoration:none;
      color: #333;
}
a.bkgrd:link{
      text-decoration: none;
      font-size: 2em;
      color: #333;
}
a.bkrgd:hover{
    text-decoration:none;
    color: #cf0000;
    font-size: 2em;
}

<!-- fonts -->
h1 {
    font-size: 1em;
    font-family: "Times New Roman", Times, Serif;
    color: #cf0000;
}
h2 {
    font-size: 2em;
    font-family: "Times New Roman", Times, Serif;
    color: #fff
}
h3 {
    font-size: 1em;
    font-style: italic;
    font-family: "Times New Roman", Times, Serif;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    font-family: "Times New Roman", Times, Serif;
    color: #444;
}
</style>
